<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h3>Faculty of Agricultural Sciences</h3>
        </div>

        <img src="../../../../assets/susl.png" alt="">

    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/analysis">
        <mat-icon>trending_up</mat-icon>Analysis
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
        <mat-icon>settings</mat-icon>Settings
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/help">
        <mat-icon>help_outline</mat-icon>Help
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
        <mat-icon>supervisor_account</mat-icon>User Profile
    </a>

</mat-nav-list>