<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Faculty of Agricultural Sciences</h2>
        </div>

        <img src="../../../../assets/susl.png" alt="">

    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/analitics">
        <mat-icon>trending_up</mat-icon>Analysis
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
        <mat-icon>settings</mat-icon>Settings
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/help">
        <mat-icon>help_outline</mat-icon>Help
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/logout">
        <mat-icon>logout</mat-icon>Log out
    </a>

</mat-nav-list>