<mat-card class="background">

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

    <mat-select class="select" placeholder="First Select A Plant" #plant>
      <mat-option value="plant1">plant1</mat-option>
      <mat-option value="plant2">plant2</mat-option>
      <mat-option value="plant3">plant3</mat-option>
      <mat-option value="plant4">plant4</mat-option>
    </mat-select>

    <button mat-raised-button color="primary" (click)="searched_plant(plant.value)">
      <mat-icon>search</mat-icon> Search
    </button>

  </div>

  <br>

  <div class="example-container mat-elevation-z8 table" [ngStyle]="{'display': displays }">

    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Temperature</th>
            <th scope="col">Humidity</th>
            <th scope="col">EC Value</th>
            <th scope="col">PH Value</th>
            <th scope="col">Light</th>
            <th scope="col">Height</th>
            <th scope="col">Modify</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of plantdataset">
            <td>{{data.Start_Date}}</td>
            <td>{{data.End_Date}}</td>
            <td>{{data.Temperature}}</td>
            <td>{{data.Humidity}}</td>
            <td>{{data.EC_Value}}</td>
            <td>{{data.PH_Value}}</td>
            <td>{{data.Light}}</td>
            <td>{{data.Height}}</td>
            <td><button mat-button (click)="openDialogModify(data)">Edit</button></td>
            <td><button mat-button (click)="openDialogDelete(data)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <br>

    <button class="btn-primary add" mat-button (click)="openDialog(element.Start_Time)">Add New Data</button>

    <br><br>

  </div>

</mat-card>