.example-container {
    height: 400px;
    width: 100%;
    overflow: auto;
  }
  
.table {
  background-color: white;
}

.inputfield{
  width: 50%;
}

.select {
    font-size: larger;
    font-weight: bolder;
    background-color: white;
    border-radius: 10px;
}

.background {
  background-color: rgba(72, 72, 73,0.1);
}

* {
  text-align: center;
}