* {
    text-align: center;
}

.background {
    background-color: rgba(72, 72, 73,0.1);
}

.select {
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    background-color: white;
}