<app-top-card></app-top-card>

<br><br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

    <mat-card fxFlex="50">
        <app-temperature></app-temperature>
    </mat-card>

    <mat-card fxFlex="50">
        <app-humidity></app-humidity>
    </mat-card>

</div>

<br><br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

    <mat-card fxFlex="50">
        <app-light></app-light>
    </mat-card>

    <mat-card fxFlex="50">
        <app-height></app-height>
    </mat-card>

</div>

<br><br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

    <mat-card fxFlex="50">
        <app-ph></app-ph>
    </mat-card>

    <mat-card fxFlex="50">
        <app-ec></app-ec>
    </mat-card>

</div>