<mat-card class="top">
    <h3>Essentials</h3>

    <div class="card-container" layout="row" flex>
        <mat-card>
            <mat-select (selectionChange)="PlantSelected($event)" [(value)]="selected" placeholder="Select A Plant To Modify">
                <mat-option value="plant1">plant1</mat-option>
                <mat-option value="plant2">plant2</mat-option>
                <mat-option value="plant3">plant3</mat-option>
                <mat-option value="plant4">plant4</mat-option>
            </mat-select>
        </mat-card>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

        <mat-card fxFlex="33">
            <div class="card-container">
                {{ (temp | async)?.value }}
                <mat-form-field>
                    <input matInput placeholder="Temperature" [formControl]="temperature" #tem required>
                    <mat-error *ngIf="temperature.invalid">{{getErrorMessagetemperature()}}</mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="Temperature(tem.value)">
                    <mat-icon>edit</mat-icon> Modify
                </button>
            </div>
        </mat-card>

        <mat-card fxFlex="33">
            <div class="card-container">
                <mat-form-field>
                    <input matInput placeholder="Humidity" [formControl]="humidity" #hum required>
                    <mat-error *ngIf="humidity.invalid">{{getErrorMessagehumidity()}}</mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="Humidity(hum.value)">
                    <mat-icon>edit</mat-icon> Modify
                </button>
            </div>
        </mat-card>

        <mat-card fxFlex="33">
            <div class="card-container">
                <mat-form-field>
                    <input matInput placeholder="Electric Conductivity" [formControl]="ec_value" #ec required>
                    <mat-error *ngIf="ec_value.invalid">{{getErrorMessageec()}}</mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="EC(ec.value)">
                    <mat-icon>edit</mat-icon> Modify
                </button>
            </div>
        </mat-card>

    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

        <mat-card fxFlex="33">
            <div class="card-container">
                <mat-form-field>
                    <input matInput placeholder="PH Value" [formControl]="ph_value" #ph required>
                    <mat-error *ngIf="ph_value.invalid">{{getErrorMessageph()}}</mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="PH(ph.value)">
                    <mat-icon>edit</mat-icon> Modify
                </button>
            </div>
        </mat-card>

        <mat-card fxFlex="33">
            <div class="card-container">
                <mat-form-field>
                    <input matInput placeholder="Light" [formControl]="light_value" #light required>
                    <mat-error *ngIf="light_value.invalid">{{getErrorMessagelight()}}</mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="Light(light.value)">
                    <mat-icon>edit</mat-icon> Modify
                </button>
            </div>
        </mat-card>

        <mat-card fxFlex="33">
            <div class="card-container">
                <mat-form-field>
                    <input matInput placeholder="Height" [formControl]="height_value" #height required>
                    <mat-error *ngIf="height_value.invalid">{{getErrorMessageheight()}}</mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="Height(height.value)">
                    <mat-icon>edit</mat-icon> Modify
                </button>
            </div>
        </mat-card>

    </div>
</mat-card>