.card-container {
  display: flex;
  flex-direction: column;
}

.card-container > * {
  width: 100%;
}

.top {
  background-color: aqua;
}

mat-select {
  text-align: center;
  text-transform: uppercase;
}