.select {
    width: 60%;
    background-color: blueviolet;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    color: white;
    padding: 0.5em;
}

button {
    width: 40%;
    padding: 0.5em;
}

// .results {
    
// }
