<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

    <mat-card fxFlex="33">
        fdf
    </mat-card>

    <mat-card fxFlex="33">
        fgfg
    </mat-card>

    <mat-card fxFlex="33">
        dbf
    </mat-card>

</div>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">

    <mat-card fxFlex="33">
        fdf
    </mat-card>

    <mat-card fxFlex="33">
        fgfg
    </mat-card>

    <mat-card fxFlex="33">
        dbf
    </mat-card>

</div>